@model Campus.Domain.Answer
@{
    ViewData["Title"] = "Editor";
}

<h2>修改回答</h2>
<div id="EditorDiv">
    <textarea id="mytextarea" name="content">@Html.Raw(Model.Content)</textarea>
    <button id="btnConfirm">确认修改</button>
</div>
@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>
        $(function () {
            InitTinymce();
            $("#btnConfirm").click(function () {
                var content = tinymce.activeEditor.getContent();
                var Id =@Model.Id;
                var AuthorId =@Model.AuthorId;
                var homeworkId =@Model.HomeworkId;
                $.post("/Answer/Update", { Id: Id, content: content, authorId: AuthorId, homeworkId: homeworkId }, function (data) {
                    if (data) {
                        window.location.href = "/Homework/ShowDetailForStudent?homeworkid=@Model.HomeworkId";
                    }
                    else {
                        alert("更新发生错误！请您稍后重试！");
                    }
                });
            });
        });
        function InitTinymce(){
            tinymce.init({
                selector: '#mytextarea',
                images_upload_url: "/upload/create",
                images_upload_credentials: true,
                plugins: [
                    'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                    'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                    'save table contextmenu directionality emoticons template paste textcolor'
                ],
                toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
            }); }
    </script>
}
