@model Campus.Domain.Answer
@{
    ViewData["Title"] = "修改回答";
}
<h2>修改回答</h2>
<div id="EditorDiv">
    <textarea id="mytextarea" name="content">@Html.Raw(Model.Content)</textarea>
    <button id="btnConfirm">确认修改</button>
</div>
@section Scripts{
    <script src="~/js/InitTinymce.js"></script>
    <script>
        $(function () {
            $("#btnConfirm").click(function () {
                var content = tinymce.activeEditor.getContent();
                var id = @Model.Id;
                var authorId = @Model.AuthorId;
                var homeworkId = @Model.HomeworkId;
                $.post("/Answer/Update", { id: id, content: content, authorId: authorId, homeworkId: homeworkId }, function (data) {
                    if (data) {
                        window.location.href = "/Homework/ShowDetailForStudent?homeworkid=@Model.HomeworkId";
                    }
                    else {
                        alert("更新发生错误！请您稍后重试！");
                    }
                });
            });
        });
    </script>
}
