@{
    ViewData["Title"] = "发布作业";
}
<h2>发布作业</h2>
<div style="white-space: pre-line">
    @{ if (ViewData["error"] != null)
        {
            <div>@ViewData["error"]</div>
        }
    }
</div>
<form method="post" action="../HomeWork/PublishedHomework">
    <label>标题：</label><input type="text" name="title" size="50" />
    <textarea id="mytextarea" name="content"></textarea>
    <input type="submit" value="提交" />
</form>
@section Scripts{
    <script src="~/js/InitTinymce.js"></script>
}

