@{
    ViewData["Title"] = "发布作业";
}
<h2>发布作业</h2>
<div style="white-space: pre-line">
    @{ if (ViewData["error"] != null)
        {
            <div>@ViewData["error"]</div>
        }
    }
</div>
<form method="post" action="../HomeWork/PublishedHomework">
<label>标题：</label><input type="text" name="title" width="500"/>
<textarea id="mytextarea" name="content"></textarea>
<input type="submit" value="提交"/>
</form>
@section Scripts{
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            images_upload_url: "/upload/create",
            images_upload_credentials: true,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons'
        });
    </script>
}

