@model Campus.Domain.Homework
@{
    ViewData["Title"] = "修改作业";
}

<h2>修改问题</h2>
<div id="EditorDiv">
    标题：<input type="text" id="mytitle" name="title" value="@Model.Title" size="50" />
    <textarea id="mytextarea" name="content">@Html.Raw(Model.Content)</textarea>
    <button id="btnConfirm">确认修改</button>
</div>
@section Scripts{
    <script src="~/js/InitTinymce.js"></script>
    <script>
        $(function () {
            $("#btnConfirm").click(function () {
                var content = tinymce.activeEditor.getContent();
                var title = $("#mytitle").val();
                var id =@Model.Id;
                var authorId =@Model.AuthorId;
                $.post("/Homework/Update", { id: id, content: content, title: title, authorId: authorId }, function (data) {
                    if (data) {
                        window.location.href = "/homework/ShowDetailForTeahcher?homeworkid=@Model.Id";
                    }
                    else {
                        alert("更新发生错误！请您稍后重试！");
                    }
                });
            });
        });
    </script>
}
